# 1. Copy this file and rename it to .env.local
# 2. Update the enviroment variables below.

# API key and secret. If you use LiveKit Cloud this can be generated via the cloud dashboard.
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# URL pointing to the LiveKit server.
LIVEKIT_URL=wss://my-livekit-project.livekit.cloud

## PUBLIC
NEXT_PUBLIC_LK_TOKEN_ENDPOINT=/api/token